body {
    background-color: ivory;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo 2', serif;
}

p {
    font-family: 'Poppins', serif;
    font-size: 1.2rem;
    text-align: justify;
}

.links {
    color: #2E4E3D;
    text-decoration: none;
}

.table th {
    background-color: #2E4E3D;
    color: ivory;
    font-family: 'Baloo 2', serif;
}

.table td {
    background-color: #C2DCC2;
    font-family: 'Poppins', serif;
}

.btn-primary {
    background-color: #2E4E3D;
    border-color: #2E4E3D;
}

#headline {
    align-items: center;
    justify-content: center;
}

#dynamicSection {
    font-family: 'Baloo 2', serif;
}